Search Here: <input id="input" type="text" size="30" pInputText [(ngModel)]="listFilterBy">
<br>

<button pButton type="button" label="Add New" style="margin-right: .25em" (click)="addEmployee()"></button>
<button pButton type="button" label="Get Data From Api" style="margin-right: .25em" (click)="getEmployee()"></button>
<button pButton type="button" label="Get Data From FireBase" style="margin-right: .25em"
  (click)="getEmployeeFire()"></button>
<br /><br />
<p-panel header="Employee Management System">

  <div class="list-item-group">
    <div *ngFor="let employee of filteredList| paginate:
       {  id: 'listing_pagination',
          itemsPerPage: 4,
          currentPage: page,
           totalItems: totalRec 
       }">
      <div class="row">

        <app-employeedetail [employee]='employee' (refreshEmployeeList)="refreshList()">
        </app-employeedetail>

      </div>

    </div>

  </div>

  <div>
    <pagination-controls *ngIf="al" id="listing_pagination" maxSize="5" directionLinks="true"
      (pageChange)="page=$event">
    </pagination-controls>
  </div>

 
</p-panel>